<div>
	<table class="bordered">
		<tr class="white"><th>Gallery</th></tr>
		<tr>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
		</tr>
		<tr>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
		</tr>
		<tr>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
		</tr>
		<tr>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
			<td><img id="myImg"  ng-src="{{numale()}}" height="200" width="200"></td>
		</tr>
	</table>
	
</div>