<div>
     <img src="mainbanner.jpg" class="center-block" alt="">
<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 350px; border-radius: 10px">
        <li class="waves-effect"><a> <i class="material-icons white-text">chevron_left</i></a></li>
        <li class="waves-effect"><a ui-sref="manga1" class="white-text">1</a></li>
        <li class="waves-effect"><a ui-sref="manga2" class="white-text">2</a></li>
        <li class="waves-effect"><a ui-sref="manga3" class="white-text">3</a></li>
        <li class="waves-effect"><a ui-sref="manga4" class="white-text">4</a></li>
        <li class="waves-effect"><a ui-sref="manga5" class="white-text">5</a></li>
        <li class="waves-effect"><a ui-sref="manga6" class="white-text">6</a></li>
        <li class="waves-effect"><a ><i class="material-icons white-text">chevron_right</i></a></li>
    </ul>


    <main>
        <div class="row">
            <div class="container">
                <div id="site-right" class="col s12 m12 l12 white z-depth-2">
                    <!-- Note that "m8 l9" was added -->
                    <div>
                       <div><img src="banner6.png" height="150px" width="auto" class="center-block" alt=""></div>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">
                                <h6>Resumen</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="textocaja">
                                            
                                                <p>
                                                    Situada cerca de Port St. Lucie, Florida, la historia sigue a la hija de Jotaro Kujo, Jolyne Cujoh, quien es acusada de asesinato y termina en Green Dolphin Street Jail. Se le entrega un amuleto heredado de su padre, que le corta la mano y desbloquea
                                                    su habilidad de Stand, Stone Free, que le permite desenredar su cuerpo en una cuerda viva. La cuerda puede formar un soporte humanoide a dos metros de distancia de su cuerpo, y puede extenderse aún más
                                                    como cuerda. En la prisión, pronto se convierte en aliados incómodos con otros convictos y usuarios de Stand Ermes Costello (usuario de Kiss) y Gwess (usuario de Goo Goo Dolls).
                                                </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Prologo</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Su padre Jotaro pronto viene a visitarla y le informa que un usuario de Stand llamado Johngalli A, un discípulo de DIO, la incriminó para que él pudiera matarla en la prisión, y le pide que escape. La ira de Jolyne hacia su padre, que ha estado ausente
                                                    la mayor parte de su vida, se ve interrumpida por un doble ataque del Stand de Johngalli A, Manhattan Transfer y otro misterioso Stand llamado Whitesnake. Whitesnake usa su poder para eliminar el súper
                                                    poderoso Stand de Jotaro, Star Platinum, y también sus recuerdos. Jotaro se hunde en un estado de muerte, y Jolyne debe de alguna manera encontrar una manera de recuperar Star Platinum del usuario de
                                                    Whitesnake, el misterioso Enrico Pucci. En el camino, recoge a aliados como Emporio Alniño, un niño cuya difunta madre lo dio a luz en prisión, Foo Fighters, un Stand de plancton sensible que tomó la
                                                    forma de un prisionero muerto, y el asesino convicto, Narciso Anasui ( usuario de Diver Down), a quien le gusta desarmar cosas y poner las piezas una al lado de la otra (fue encarcelado por hacer lo
                                                    mismo con su novia y su amante). La más notable de sus aliadas es el informe meteorológico amnésico, que controla el clima y, en un ejemplo desconcertante, tiene las ranas venenosas lluvia del cielo.
                                                    Está fuertemente implicado que Jolyne puede haber albergado algunos sentimientos románticos por él, aunque no tuvo tanta suerte para Anasui (que está locamente enamorado de Jolyne).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Problemas familiares</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Jolyne, Ermes y Emporio escapan de la prisión en su búsqueda de Pucci, mientras que Anasui y Weather Report también escapan en busca de Jolyne. A través de muchas dificultades, logra enviar ambos discos a la Speedwagon Foundation y rápidamente comienza
                                                    la "resurrección" de Jotaro. Pronto, Jolyne y sus aliados se enfrentan con los hijos ilegítimos de DIO, a cada uno de los cuales se les han despertado sus habilidades de Stand gracias a que Pucci obtuvo
                                                    las habilidades de DIO después de leer el disco de memoria de Jotaro. Durante el enfrentamiento con el tercer hijo, se le devuelve el disco de memoria de Versus, Weather, después de lo cual recuerda
                                                    que Pucci es su hermano perdido, responsable de atacar el clima y, sin querer, matar a su hermana mayor en el proceso. . Mientras Weather desata los verdaderos poderes de su Stand como Heavy Weather
                                                    en el mundo, Pucci se enfrenta con él en combate. Weather Report finalmente es asesinado después de ser distraído por la llegada de Jolyne, y Pucci continúa hacia Cabo Cañaveral a tiempo para la luna
                                                    nueva.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                          <li>
                        <div class="collapsible-header ">
                            <h6>Galería</h6>
                        </div>
                        <div class="collapsible-body white" id="mararriba">
                            <div class="container white">
                                <div class="row">
                                    <div class="col l12 m6 s12 " id="">
                                        <div class="col l12 m6 s12" id="textocaja">
                                            <table class="white">
                                                    <tr>
                                                    <td><img id="myImg" src="m31.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m32.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m33.jpg" alt="" height="200" width="200"></td>
                                                </tr>
                                                    <tr>
                                                        <td><img id="myImg" src="m34.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m35.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m36.jpg" alt="" height="200" width="200"></td>
                                                    </tr>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>

    </main>
    </div>