<div>
      <img src="mainbanner.jpg" class="center-block" alt="">
<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 350px; border-radius: 10px">
        <li class="waves-effect"><a> <i class="material-icons white-text">chevron_left</i></a></li>
        <li class="waves-effect"><a ui-sref="manga1" class="white-text">1</a></li>
        <li class="waves-effect"><a ui-sref="manga2" class="white-text">2</a></li>
        <li class="waves-effect"><a ui-sref="manga3" class="white-text">3</a></li>
        <li class="waves-effect"><a ui-sref="manga4" class="white-text">4</a></li>
        <li class="waves-effect"><a ui-sref="manga5" class="white-text">5</a></li>
        <li class="waves-effect"><a ui-sref="manga6" class="white-text">6</a></li>
        <li class="waves-effect"><a ><i class="material-icons white-text">chevron_right</i></a></li>
    </ul>

    <main>
        <div class="row">
            <div class="container">
                <div id="site-right" class="col s12 m12 l12 z-depth-2 white">
                    <!-- Note that "m8 l9" was added -->
                    <div class="white">
                        <img src="banner3.png" height="150px" width="auto" class="center-block" alt="">
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible popout white" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header white active">
                                <h6>Resumen</h6>
                            </div>
                            <div class="collapsible-body white" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 white " id="">
                                            <div class="col l12 m6 s12 white" id="textocaja">
                                                <p>
                                                    Stardust Crusaders (スターダストクルセイダース sutādasuto kuruseidāsu?) es la tercera parte de la serie manga JoJo's Bizarre Adventure creada por Hirohiko Araki, publicada en Shūkan Shōnen Jump entre 1989 y 1992, abarcando así los volúmenes del 12 al 28. Originalmente
                                                    titulada JoJo's Bizarre Adventure Parte 3 Jotaro Kujo: Heritage for the Future (ジョジョの奇妙な冒険 第三部 空条承太郎 ―未来への遺産― jojo no kimyō na bōken dai san bu kūjō jōtarō -mirai e no isan-?), el arco argumental fue
                                                    precedido por Battle Tendency y se extiende por 152 capítulos
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header white">
                                <h6>Prologo</h6>
                            </div>
                            <div class="collapsible-body white" id="mararriba">
                                <div class="container white">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    La Parte III sigue las andanzas de Jotaro Kujo (空条 承太郎 kūjō jōtarō?), el nieto de Joseph Joestar. Jotaro es un estudiante algo problemático dado a meterse en peleas en la escuela y antagonizar con sus maestros. Fue puesto en prisión después de apalear
                                                    a tres hombres armados y un boxeador entrenado, pero él se rehúsa a salir de su celda, alegando que está poseído por un espíritu maligno. Para demostrarlo, toma una pistola y se dispara a sí mismo en
                                                    la cabeza, pero la bala es detenida por un brazo que brota desde su propia mano que sólo él y su madre Holy pueden ver. Joseph Joestar pronto llega junto con su amigo Muhammad Avdol, un conocido suyo
                                                    de Egipto quien sabe lo que a Jotaro le ocurre. Estalla una batalla entre Avdol y Jotaro en el que Avdol manifiesta su propio "espíritu maligno", utilizándolo para provocar a Jotaro y que saliera de
                                                    la celda. Joseph revela que el "espíritu maligno" de Jotaro es en realidad un Stand, una manifestación de energía psíquica, la vitalidad y la fuerza de voluntad de un individuo. El Stand de Jotaro, bautizado
                                                    como, Star Platinum está dotado de una increíble precisión y fuerza; el de Avdol, conocido como Magician's Red, puede controlar el fuego; el Stand de Joseph, Hermit Purple, se manifiesta como enredaderas
                                                    espinosas que le permiten manipular las cámaras fotográficas y otros medios visuales, capturando imágenes remotas desde una gran distancia
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Dio Regresa</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>

                                                    Los problemas se complican cuando DIO comienza a mandar a sus asesinos a encarar a los Joestar, pues sabe que tarde o temprano lo emcontrarán. Así pues, al primero que envía es a un joven Japonés de la edad de Jotaro. Su nombre es Noriaki Kakyoin y es
                                                    estudiante del mismo instituto donde asiste Jotaro. Tras un combate donde Kakyoin revela su propio Stand Hierophant Green, Jotaro lo vence pero no lo mata. Decide entonces llevarlo a la mansión de su
                                                    familia para descubrir que Kakyoin está siendo controlado por una de las esporas de carne de DIO. Jotaro con mucha habilidad, extrae la criatura de la cabeza de Kakyoin y Joseph usa el Hamon y la destruye.
                                                    En ese momento, Holy se desmaya y comienza a sufrir una fiebre inexplicable. Joseph deduce que su enfermedad repentina se debe a que ella está comenzando a manifestar su propio Stand, pero a diferencia
                                                    de Joseph o Jotaro, su cuerpo es muy fragil y su mentalidad es muy inocente, por lo cual su vida corre serio peligro.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li>
                        <div class="collapsible-header ">
                            <h6>Galería</h6>
                        </div>
                        <div class="collapsible-body white" id="mararriba">
                            <div class="container white">
                                <div class="row">
                                    <div class="col l12 m6 s12 " id="">
                                        <div class="col l12 m6 s12" id="textocaja">
                                            <table class="white">
                                                    <tr>
                                                    <td><img id="myImg" src="m13.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m14.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m15.jpg" alt="" height="200" width="200"></td>
                                                </tr>
                                                    <tr>
                                                        <td><img id="myImg" src="m16.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m17.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m18.jpg" alt="" height="200" width="200"></td>
                                                    </tr>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>

    </main>
    </div>
    <!--
	
	
	-->