<div>
		<img src="mainbanner.jpg" class="center-block" alt="">
<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 250px; border-radius: 10px">
		<li class="disabled"><a href="#!"><i class="material-icons white-text">chevron_left</i></a></li>
		<li class="waves-effect "><a ui-sref="parti" class="white-text">1 y 2</a></li>
		<li class="waves-effect "><a ui-sref="partii" class="white-text">3</a></li>
		<li class="waves-effect "><a ui-sref="partiii"  class="white-text">4</a></li>
		<li class="waves-effect "><a href="#!"><i class="material-icons white-text">chevron_right</i></a></li>
	</ul>
	<ul>
	<div class="row container" >
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="54.jpg" style="height: 300px; width: 351px;">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Phantom Blood & Battle Tendency </h3>
						<p>
							JoJo's Bizarre Adventure (JoJo no Kimyō na Bōken) (diferenciado aquí por la adición de The Animation) es una adaptación de TV Anime 2012 de la Parte 1 y Parte 2 de JoJo's Bizarre Adventure producida por David Production.
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="parti">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="59.jpg" style="height: 300px; width: 351px;">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Stardust Crusaders</h3>
						<p>
							JoJo's Bizarre Adventure: Stardust Crusaders (ジョジョの奇妙な冒険 スターダストクルセイダース JoJo no Kimyō na Bōken Sutādasuto Kuruseidāsu) es la segunda temporada de JoJo's Bizarre Adventure TV Anime, producida por David Production. 
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="partii">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="69.jpg" style="height: 300px; width: 351px";>
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Diamond is Unbreakable</h3>
						<p>
							
							JoJo's Bizarre Adventure: Diamond Is Unbreakable (JoJo no Kimyō na Bōken Daiyamondo wa Kudakenai) es la tercera temporada del Jojo's Bizarre Adventure TV Anime, producido por David Production. 
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="pqrtiii">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		
	</ul>

  </div>

