<div>
       <img src="mainbanner.jpg" class="center-block" alt="">
<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 350px; border-radius: 10px">
        <li class="waves-effect"><a> <i class="material-icons white-text">chevron_left</i></a></li>
        <li class="waves-effect"><a ui-sref="manga1" class="white-text">1</a></li>
        <li class="waves-effect"><a ui-sref="manga2" class="white-text">2</a></li>
        <li class="waves-effect"><a ui-sref="manga3" class="white-text">3</a></li>
        <li class="waves-effect"><a ui-sref="manga4" class="white-text">4</a></li>
        <li class="waves-effect"><a ui-sref="manga5" class="white-text">5</a></li>
        <li class="waves-effect"><a ui-sref="manga6" class="white-text">6</a></li>
        <li class="waves-effect"><a ><i class="material-icons white-text">chevron_right</i></a></li>
    </ul>


    <main>
        <div class="row">
            <div class="container">
                <div id="site-right" class="col s12 m12 l12 white z-depth-2">
                    <!-- Note that "m8 l9" was added -->
                    <div>
                       <div><img src="banner2.png" height="150px" width="auto" class="center-block" alt=""></div>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">
                                <h6>Resumen</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Tendencia de batalla (潮流 闘 ō Sentō Chōryū) es el segundo arco argumental de JoJo's Bizarre Adventure, serializado en Weekly Shōnen Jump desde noviembre de 1987 hasta marzo de 1989.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Prologo</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    En el invierno de 1938, habiéndose convertido en un hombre de negocios rico, Robert E. O. Speedwagon, y su Speedwagon Foundation descubrieron una pirámide mexicana donde encontraron varias Máscaras de Piedra junto con un hombre integrado en una columna
                                                    de piedra. Temiendo lo peor, que el horror que él y su viejo amigo Jonathan Joestar han frustrado hace 49 años puede resurgir, Speedwagon contactó a Straizo para reunirse con él en México por su ayuda
                                                    en la destrucción de las máscaras y la figura misteriosa antes de que despierte. Pero Straizo de repente mata a los asociados de Speedwagon antes de herir gravemente al hombre. Fascinado por la juventud
                                                    y el vigor que la Máscara de Piedra le concedió a Dio, Straizo usa la sangre derramada para activar la Máscara y transformarse en un Vampiro mientras explica que intenta eliminar a cualquiera que conozca
                                                    las Máscaras. Joseph Anime Faceshot El nuevo protagonista de Battle Tendency: Joseph Joestar Mientras tanto, en la ciudad de Nueva York, el nieto de Jonathan Joseph Joestar derrota a un par de policías
                                                    por embrutecer a un carterista llamado Smokey Brown y demuestra su capacidad para utilizar Ripple. Joseph se hace amigo de Smokey cuando él y su abuela Erina Joestar hacen que el niño se sienta bienvenido.
                                                    Joseph es informado pronto por un mafioso de la supuesta muerte de Speedwagon de la mano de Straizo.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Guerrors de tiempos ancestrales</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Una vez en Roma, Joseph se cruza con el contacto de Speedwagon en Italia: César Anthonio Zeppeli, nieto de William Anthonio Zeppeli. Los dos jóvenes no se llevan bien, ya que César culpa a Jonathan por la muerte de su abuelo y llamó a la victoria de José
                                                    contra Santana una suerte de tonto. Sin su conocimiento, los Pillar Men ya están despertando bajo el Coliseo. Cuando Joseph, Speedwagon y Caesar llegan a la cueva subterránea donde están los Pillar Men.
                                                    Sin embargo, los Pillar Men que se conocen con el nombre de Wamuu, Esidisi y Kars ya despertaron y mataron a los alemanes.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                          <li>
                        <div class="collapsible-header ">
                            <h6>Galería</h6>
                        </div>
                        <div class="collapsible-body white" id="mararriba">
                            <div class="container white">
                                <div class="row">
                                    <div class="col l12 m6 s12 " id="">
                                        <div class="col l12 m6 s12" id="textocaja">
                                            <table class="white">
                                                    <tr>
                                                    <td><img id="myImg" src="m7.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m8.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m9.jpg" alt="" height="200" width="200"></td>
                                                </tr>
                                                    <tr>
                                                        <td><img id="myImg" src="m10.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m11.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m12.jpg" alt="" height="200" width="200"></td>
                                                    </tr>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>

    </main>
    </div>