 <div class="slider"  style="max-height: 400px;margin-top: 0; padding:0; margin-bottom: 0;" >
    <ul class="slides" style="height: 400px" >
      <li><a ui-sref="anime">
        <img src="jotaro.jpg" > <!-- random image -->
        <div class="caption right-align">
          <h3>Ora ora ora ora!</h3>
          <h5 class="light white-text ">Puchale para entrar a la seccion de anime.</h5>
        </div>
     </a> </li>
      <li><a ui-sref="manga">
        <img src="part.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>¡Renuncio a mi humanidad, Jojo! </h3>
          <h5 class="light grey-text text-lighten-3">Puchale para entrar a la seccion de manga.</h5>
        </div>
      </a></li>
      
      <li  ><a ui-sref="gallery">
        <img ng-style="acomodar"  src="tobecontinued.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Muda muda muda muda!</h3>
          <h5 class="light grey-text text-lighten-3">Yapa!!!.</h5>
        </div>
      </a></li>
      <li> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <img src="Joseph_X_Avdol.gif"> <!-- random image -->
        <div class="caption center-align">
          <h3>oooh! my good!!!</h3>
          <h5 class="light grey-text text-lighten-3">oooooh! noooooo!</h5>
        </div>
      </a></li>
    </ul>
  </div>
      

 