<div>
	<img src="mainbanner.jpg" class="center-block" alt="">
	<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 250px; border-radius: 10px">
		<li class="disabled"><a href="#!"><i class="material-icons white-text">chevron_left</i></a></li>
		<li class="waves-effect"><a ui-sref="parti" class="white-text">1 y 2</a></li>
		<li class="waves-effect"><a ui-sref="partii" class="white-text">3</a></li>
		<li class="waves-effect"><a ui-sref="partiii"  class="white-text">4</a></li>
		<li class="waves-effect"><a href="#!" ><i class="material-icons white-text">chevron_right</i></a></li>
	</ul>
	<main >
		<div class="row">
			<div class="container ">
				<div id="site-right" class="col s12 m12 l12 z-depth-2 white">
					<!-- Note that "m8 l9" was added -->
					<div><img src="banner1.png" height="150px" width="auto" class="center-block" alt=""></div>
					<div><img src="banner2.png" height="150px" width="auto" class="center-block" alt=""></div>
					<div class="divider"></div>
					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header active">
								<h6>Resumen</h6>
							</div>
							<div class="collapsible-body white" id="mararriba">
								<div class="container white">
									<div class="row">
										<div class="col l12 m6 s12 white" id="">
											<div class="col l12 m6 s12 white" id="textocaja">
												<p>
													
												JoJo's Bizarre Adventure (JoJo no Kimyō na Bōken) (diferenciado aquí por la adición de The Animation) es una adaptación de TV Anime 2012 de la Parte 1 y Parte 2 de JoJo's Bizarre Adventure producida por David Production.</p>
												<p>
													El primer episodio de la Temporada 1 se emitió en Japón el 5 de octubre de 2012 y finalizó después de 26 episodios el 5 de abril de 2013. La temporada 1 cubre la totalidad de la Parte 1 y Parte 2, que abarca 113 capítulos de manga. Una segunda temporada, que cubre la Parte 3, comenzó a transmitirse en Japón el 4 de abril de 2014 y finalizó el 19 de junio de 2015. Una tercera temporada, que cubre la Parte 4, comenzó a transmitirse en Japón el 1 de abril de 2016 y finalizó el 23 de diciembre de 2016.
												</p>
												<p>
													Servicio de distribución de medios Crunchyroll ha obtenido las licencias de transmisión para la temporada 1 y 2; ambos se pueden ver en su sitio web.
													El 21 de julio de 2016, se confirmó que el dub en inglés debía transmitirse en Cartoon Network el próximo octubre. La temporada se transmitió en Toonami, se estrenó el 15 de octubre de 2016 y finalizó el 15 de abril de 2017.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header white">
								<h6>Listado de capitulos</h6>
							</div>
							<div class="collapsible-body white" id="mararriba">
								<div class="container white">
									<div class="row">
										<div class="col l12 m6 s12 white" id="">
											<div class="col l12 m6 s12" id="textocaja">
												<p><h6>Phantom Blood</h6></p>
												<div class="divider"></div>
												<p>1.-Dio the Invader (侵略者ディオ Shinryakusha Dio)</p>
												<p>2.-A Letter from the Past (過去からの手紙 Kako kara no Tegami)</p>
												<p>3.-Youth with Dio
												(ディオとの青春 Dio to no Seishun) </p>
												<p>4.-Overdrive
												(波紋疾走 Ōbādoraibu) </p>
												<p>5.-The Dark Knights
												(暗黒の騎士達 Ankoku no Kishitachi)</p>
												<p>6.- Tomorrow's Courage
												(あしたの勇気 Ashita no Yūki) </p>
												<p>7.-Sorrowful Successor
												(うけ継ぐ者 Uketsugumono) </p>
												<p>8.- Bloody Battle! JoJo and Dio
												(血戦!JOJO & DIO Kessen! JoJo & Dio) </p>
												<p>9.- The Final Ripple!
												(最後の波紋 Saigo no Hamon) </p>
												<div class="divider"></div>
												<p><h6>Battle Tendency</h6></p>
												<div class="divider"></div>
												<p>10.-New York's JoJo
												(ニューヨークのジョジョ Nyū Yōku no JoJo) </p>
												<p>11.-The Game Master
												(ゲームの達人 Gēmu no Tatsujin) </p>
												<p>12.-The Pillar Man
												(柱の男 Hashira no Otoko) </p>
												<p>13.-JoJo vs. The Ultimate Life-Form
												(JOJO vs.究極生物 JoJo tai Kyūkyoku Seibutsu) </p>
												<p>14.-Ultimate Warriors from Ancient Times
												(太古から来た究極戦士 Taiko kara Kita Kyūkyoku Senshi)</p>
												<p>15.-A Hero's Proof
												(ヒーローの資格 Hīrō no Shikaku)</p>
												<p>16.-Lisa Lisa, Hamon Coach
												(波紋教師リサリサ Hamon Kyoushi Risa Risa ) </p>
												<p>17.-The Deeper Plan
												(深く罠をはれ! Fukaku Wana o Hare!) </p>
												<p>18.-Von Stroheim's Revenge
												(シュトロハイム隊の逆襲 Shutorohaimu tai no gyakushuu) </p>
												<p>19.-A Race Toward the Brink
												(死の崖へつっ走れ Shi no Gake e Tsuppashire)</p>
												<p>20.-Young Caesar
												(シーザー孤独の青春 Shīzā Kodoku no Seishun) </p>
												<p>21.-A Hundred Against Two
												(100対2のかけひき 100 tai 2 no Kakehiki) </p>
												<p>22.-A True Warrior
												(真の格闘者 Shin no Kakutōsha)</p>
												<p>23.-The Warrior of Wind
												(風にかえる戦士 Kaze ni Kaeru Senshi) </p>
												<p>24.-The Ties That Bind JoJo
												(JOJOを結ぶ絆 JoJo o Musubu Kizuna)</p>
												<p>25.- The Birth of a Superbeing
												(超生物の誕生! ! Chō Seibutsu no Tanjō! !)</p>
												<p>26.-The Ascendant One
												(神となった男 Kami to Natta Otoko)</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</li>
					<li>
						<div class="collapsible-header ">
							<h6>Galería</h6>
						</div>
						<div class="collapsible-body white" id="mararriba">
							<div class="container white">
								<div class="row">
									<div class="col l12 m6 s12 " id="">
										<div class="col l12 m6 s12" id="textocaja">
											<table class="white">
													<tr>
													<td><img id="myImg" src="53.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="54.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="55.jpg" alt="" height="200" width="200"></td>
												</tr>
													<tr>
														<td><img id="myImg" src="56.jpg" alt="" height="200" width="200"></td>
														<td><img id="myImg" src="57.jpg" alt="" height="200" width="200"></td>
														<td><img id="myImg" src="58.jpg" alt="" height="200" width="200"></td>
													</tr>
												</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header ">
							<h6>Media</h6>
						</div>
						<div class="collapsible-body white" id="mararriba">
							<div class="container white">
								<div class="row">
									<div class="col l12 m6 s12 " id="">
										<div class="col l12 m6 s12" id="textocaja">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/EiYwLYk_JPY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
			
		</main>
	</div>
	<!--
	
	
	
	-->