<div>
            <img src="mainbanner.jpg" class="center-block" alt="">
<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 350px; border-radius: 10px">
        <li class="waves-effect"><a> <i class="material-icons white-text">chevron_left</i></a></li>
        <li class="waves-effect"><a ui-sref="manga1" class="white-text">1</a></li>
        <li class="waves-effect"><a ui-sref="manga2" class="white-text">2</a></li>
        <li class="waves-effect"><a ui-sref="manga3" class="white-text">3</a></li>
        <li class="waves-effect"><a ui-sref="manga4" class="white-text">4</a></li>
        <li class="waves-effect"><a ui-sref="manga5" class="white-text">5</a></li>
        <li class="waves-effect"><a ui-sref="manga6" class="white-text">6</a></li>
        <li class="waves-effect"><a ><i class="material-icons white-text">chevron_right</i></a></li>
    </ul>

<main>
        <div class="row">
            <div class="container">
                <div id="site-right" class="col s12 m12 l12 white z-depth-2">
                    <!-- Note that "m8 l9" was added -->
                    <div><img src="banner1.png" height="150px" width="auto" class="center-block" alt=""></div>
                    <div class="divider"></div>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header white active">
                                <h6>Resumen</h6>
                            </div>
                            <div class="collapsible-body" white id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 white " id="">
                                            <div class="col l12 m6 s12 white" id="textocaja">
                                               <p>
                                                    Phantom Blood (ファントムブラッド Fantomu Buraddo) es el primer arco argumental de JoJo's Bizarre Adventure, serializado en Weekly Shōnen Jump de enero a octubre de 1987 con un total de 44 capítulos. Originalmente conocida como JoJo's Bizarre Adventure Parte 1.
                                               </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                             <h6>Prologo</h6>
                            </div> 
                            <div class="collapsible-body white" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 white" id="">
                                            <div class="col l12 m6 s12 white" id="textocaja">
                                              
                                                    <p>
                                                        Entre el siglo XII y el siglo XVI A.D., una tribu azteca realiza un sacrificio humano durante el cual un hombre que se pone una máscara de piedra gotea su máscara en la sangre de una doncella asesinada. La máscara se activa y muchos picos perforan el
                                                        cráneo del hombre, dándole la capacidad de absorver la sangre de otro humano con su dedo y dotarse de fuerza sobrehumana. Se revela que esta tribu intentó apoderarse del mundo, pero de alguna manera
                                                        se detuvo. En Liverpool, Inglaterra, 1880, el joven Jonathan Joestar, conocido por sus amigos como JoJo, vive pacíficamente en la rica propiedad de su padre George. Otro niño, Dio Brando, es adoptado
                                                        por ellos debido a haber perdido recientemente a su padre, Darío. George creía que él y su pequeño hijo fueron rescatados por Darío durante un accidente en una diligencia, en el que su esposa perdió
                                                        la vida, cuando, de hecho, Darío estaba tratando de saquear sus cadáveres. Jonathan intenta hacerse amigo de Dio, sin darse cuenta de su plan de romper su espíritu a través del acoso constante y
                                                        ganarse la confianza de George para que pueda convertirse en el único heredero de la fortuna de Joestar.
                                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </li>
                    <li>
                        <div class="collapsible-header ">
                            <h6>Dio Brando el invasor</h6>
                        </div>
                        <div class="collapsible-body" id="mararriba">
                            <div class="container">
                                <div class="row">
                                    <div class="col l12 m6 s12 " id="">
                                        <div class="col l12 m6 s12" id="textocaja">
                                            <p>
                                                
                                                Como parte de su plan, Dio atormenta a Jonathan de manera tal que "confunde" a su perro por atacarlo y luego le da una rodillazo en la mandíbula, golpeándolo violentamente en un combate de boxeo y vuelve a sus amigos contra él, todo mientras se presenta
                                                ante Jonathan. padre como mejor caballero y estudiante que su hermano adoptivo. Cuando Jonathan encuentra consuelo en una relación con Erina Pendleton, Dio le roba el primer beso a su novia Erina.
                                                Esta afrenta hace que Jonathan se enoje lo suficiente como para enfrentar abiertamente a Dio, pero luchar por su novia también le da la fuerza para vencer a Dio por primera vez. Dio descubre secretamente
                                                que Jonathan es más duro de lo que pensaba y, después de quemar al perro de Jonathan, Danny, hasta la muerte en un incinerador como venganza, decide esperar su momento y trata de ganarse la confianza
                                                de Jonathan.
                                                
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header ">
                            <h6>Galería</h6>
                        </div>
                        <div class="collapsible-body white" id="mararriba">
                            <div class="container white">
                                <div class="row">
                                    <div class="col l12 m6 s12 " id="">
                                        <div class="col l12 m6 s12" id="textocaja">
                                            <table class="white">
                                                    <tr>
                                                    <td><img id="myImg" src="m1.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m2.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m3.jpg" alt="" height="200" width="200"></td>
                                                </tr>
                                                    <tr>
                                                        <td><img id="myImg" src="m4.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m5.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m6.jpg" alt="" height="200" width="200"></td>
                                                    </tr>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            
        </main>

</div>




