<div>
	<img src="mainbanner.jpg" class="center-block" alt="">
	<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 350px; border-radius: 10px">
		<li class="waves-effect"><a> <i class="material-icons white-text">chevron_left</i></a></li>
		<li class="waves-effect"><a ui-sref="manga1" class="white-text">1</a></li>
		<li class="waves-effect"><a ui-sref="manga2" class="white-text">2</a></li>
		<li class="waves-effect"><a ui-sref="manga3" class="white-text">3</a></li>
		<li class="waves-effect"><a ui-sref="manga4" class="white-text">4</a></li>
		<li class="waves-effect"><a ui-sref="manga5" class="white-text">5</a></li>
		<li class="waves-effect"><a ui-sref="manga6" class="white-text">6</a></li>
		<li class="waves-effect"><a ><i class="material-icons white-text">chevron_right</i></a></li>
	</ul>
	<ul>
	<div class="row container" >
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="phantom.jpeg">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Phantom Blood</h3>
						<p>
							Phantom Blood (ファントムブラッド Fantomu Buraddo) es el primer arco argumental de JoJo's Bizarre Adventure, serializado en Weekly Shōnen Jump de enero a octubre de 1987 con un total de 44 capítulos. Originalmente conocida como JoJo's Bizarre Adventure Parte 1.
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="manga1">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="stard.jpg" style="height: 300px; width: 351px;">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Battle Tendency</h3>
						<p>
							
							Tendencia de batalla (潮流 闘 ō Sentō Chōryū) es el segundo arco argumental de JoJo's Bizarre Adventure, serializado en Weekly Shōnen Jump desde noviembre de 1987 hasta marzo de 1989.
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="manga2">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="stardust.jpg" style="height: 300px; width: 351px";>
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Stardust Crusaders</h3>
						<p>
							
							TStardust Crusaders (スターダストクルセイダース sutādasuto kuruseidāsu?) es la tercera parte de la serie manga JoJo's Bizarre Adventure creada por Hirohiko Araki, publicada en Shūkan Shōnen Jump entre 1989 y 1992.
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="manga3">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="diamond.jpg" style="height: 300px; width: 351px";>
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Diamond Is Unbreakable </h3>
						<p>
							Diamond Is Unbreakable (ダイヤモンドは砕けない Daiyamondo Wa Kudakenai?) es la cuarta parte de la serie manga JoJo's Bizarre Adventure creada por Hirohiko Araki, publicada en la revista Shūkan Shōnen Jump entre 1992 y 1995, abarcando así los volúmenes del 29 al 47.
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="manga4">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="giogio.jpg" style="height: 300px; width: 351px";>
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Vento Aureo </h3>
						<p>
							Shiobana resulta ser un estudiante
							de secundaria llamado Giorno Giovanna, que suena similar a "Haruno Shiobana", que es el hijo de Dio Brando. Giorno intenta robar el equipaje de Koichi, pero es detenido por su Stand, Echoes Act 3. Giorno
							reconoció su poder como un poder de Stand similar a su Gold Experience, un Stand que puede dar vida a objetos inanimados.
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="manga5">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m7 l12">
			<div class="card small horizontal">
				<div class="card-image">
					<img src="stone.jpg" style="height: 300px; width: 351px";>
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h3>Stone Ocean</h3>
						<p>
							Situada cerca de Port St. Lucie, Florida, la historia sigue a la hija de Jotaro Kujo, Jolyne Cujoh, quien es acusada de asesinato y termina en Green Dolphin Street Jail. Se le entrega un amuleto heredado de su padre, que le corta la mano y desbloquea su habilidad de Stand, Stone Free, que le permite desenredar su cuerpo en una cuerda viva. 
						</p>
					</div>
					<div class="card-action">
						<a ui-sref="manga6">Puchale para ver más</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</ul>
</div>