<div>
      <img src="mainbanner.jpg" class="center-block" alt="">
<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 350px; border-radius: 10px">
        <li class="waves-effect"><a> <i class="material-icons white-text">chevron_left</i></a></li>
        <li class="waves-effect"><a ui-sref="manga1" class="white-text">1</a></li>
        <li class="waves-effect"><a ui-sref="manga2" class="white-text">2</a></li>
        <li class="waves-effect"><a ui-sref="manga3" class="white-text">3</a></li>
        <li class="waves-effect"><a ui-sref="manga4" class="white-text">4</a></li>
        <li class="waves-effect"><a ui-sref="manga5" class="white-text">5</a></li>
        <li class="waves-effect"><a ui-sref="manga6" class="white-text">6</a></li>
        <li class="waves-effect"><a ><i class="material-icons white-text">chevron_right</i></a></li>
    </ul>


    <main>
        <div class="row">
            <div class="container">
                <div id="site-right" class="col s12 m12 l12 white z-depth-2">
                    <!-- Note that "m8 l9" was added -->
                    <div>
                        <div><img src="banner4.png" height="150px" width="auto" class="center-block" alt=""></div>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">
                                <h6>Resumen</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Diamond Is Unbreakable (ダイヤモンドは砕けない Daiyamondo Wa Kudakenai?) es la cuarta parte de la serie manga JoJo's Bizarre Adventure creada por Hirohiko Araki, publicada en la revista Shūkan Shōnen Jump entre 1992 y 1995, abarcando así los volúmenes del 29 al
                                                    47. Originalmente titulada JoJo's Bizarre Adventure Parte 4: Josuke Higashikata (ジョジョの奇妙な冒険 第4部 東方仗助 JoJo no Kimyō na Bōken Dai Yon Bu: Higashikata Jōsuke?), la parte del manga que se extiende por 174
                                                    capítulos y era precedido por Stardust Crusaders.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Prologo</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Año 1999, Jotaro Kujo viaja a un pueblecito de Japón llamado Morioh con la intención de reunirse con el macarra de Josuke. un tipo de duro de peinado colosal que goza del don del STAND. Juntos tendrán que forjar una alianza para desmantelar el misterio
                                                    que asola a los habitantes de Morioh y evitar así que se repita la guerra de STANDS de hace 10 años.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Misterio en Morioh</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Han pasado casi 10 años desde que Joataro dio sepultura a DIO en una cruenta batalla bajo el amanecer del Cairo. Ahora Jotaro deberá aunar fuezas con Josuke Higashikata, un macarra de instituto que también posee un Stand para hacer frente a los misterios
                                                    que asolan al pueblecito japonés de Morioh. ¿Cómo es que tras haber derrotado a DIO aún quedan usuarios de Stand? ¿Es posible que la maldición del linaje Joestar sigua latente generaciones después?

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li>
                        <div class="collapsible-header ">
                            <h6>Galería</h6>
                        </div>
                        <div class="collapsible-body white" id="mararriba">
                            <div class="container white">
                                <div class="row">
                                    <div class="col l12 m6 s12 " id="">
                                        <div class="col l12 m6 s12" id="textocaja">
                                            <table class="white">
                                                    <tr>
                                                    <td><img id="myImg" src="m19.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m20.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m21.jpg" alt="" height="200" width="200"></td>
                                                </tr>
                                                    <tr>
                                                        <td><img id="myImg" src="m22.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m23.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m24.jpg" alt="" height="200" width="200"></td>
                                                    </tr>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>

    </main>
    </div>