<div>
	<img src="mainbanner.jpg" class="center-block" alt="">
	<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 250px; border-radius: 10px">
		<li class="disabled"><a href="#!"><i class="material-icons white-text">chevron_left</i></a></li>
		<li class="waves-effect "><a ui-sref="parti" class="white-text">1 y 2</a></li>
		<li class="waves-effect "><a ui-sref="partii" class="white-text">3</a></li>
		<li class="waves-effect "><a ui-sref="partiii"  class="white-text">4</a></li>
		<li class="waves-effect "><a href="#!"><i class="material-icons white-text">chevron_right</i></a></li>
	</ul>
	<main>
		<div class="row">
			<div class="container">
				<div id="site-right" class="col s12 m12 l12 white z-depth-2">
					<!-- Note that "m8 l9" was added -->
					<div class="white"><img src="banner3.png" height="200px" width="auto" class="center-block" alt=""></div>
					<div class="divider"></div>
					<ul class="collapsible popout white" data-collapsible="accordion">
						<li>
							<div class="collapsible-header white active">
								<h6>Resumen</h6>
							</div>
							<div class="collapsible-body white" id="mararriba">
								<div class="container">
									<div class="row">
										<div class="col l12 m6 s12 white" id="">
											<div class="col l12 m6 s12 white" id="textocaja">
												<p>
													JoJo's Bizarre Adventure: Stardust Crusaders (ジョジョの奇妙な冒険 スターダストクルセイダース  JoJo no Kimyō na Bōken Sutādasuto Kuruseidāsu) es la segunda temporada de JoJo's Bizarre Adventure TV Anime, producida por David Production.
												</p>
												<p>
													
													Temporada 2 adapta la totalidad del tercer arco del manga, Stardust Crusaders, y abarca 48 episodios con la segunda mitad titulada Stardust Crusaders: Battle in Egypt  (スターダストクルセイダース エジプト編 Sutādasuto Kuruseidāsu Ejiputo-hen). Fue presentado en el número 47 de Weekly Shonen Jump 2013; y el primer episodio se emitió el 4 de abril de 2014. La temporada terminó después de 48 episodios el 19 de junio de 2015. Una tercera temporada, que cubre la Parte 4, comenzó a transmitirse en Japón el 1 de abril de 2016.
													
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header ">
								<h6>Listado de capitulos</h6>
							</div>
							<div class="collapsible-body white" id="mararriba">
								<div class="container">
									<div class="row">
										<div class="col l12 m6 s12 white" id="">
											<div class="col l12 m6 s12 white" id="textocaja">
												<p><h6>Road to Egypt</h6></p>
												<div class="divider"></div>
												<p>1.-A Man Possessed by an Evil Spirit
												(悪霊にとりつかれた男 Akuryō ni Toritsukareta Otoko) </p>
												<p>2.-Who Will Be the Judge?!
												(裁くのは誰だ!? Sabaku no wa Dare da!?)</p>
												<p>3.-DIO's Curse
												(DIOの呪縛 DIO no Jubaku) </p>
												<p>4.-Tower of Gray
												(灰の塔 Tawā Obu Gurē) </p>
												<p>5.-Silver Chariot
												(銀の戦車 Shirubā Chariottsu) </p>
												<p>6.- Dark Blue Moon
												(暗青の月 Dāku Burū Mūn)</p>
												<p>7.-Strength
												(力 Sutorengusu)  </p>
												<p>8.-The Devil
												(悪魔 Debiru)  </p>
												<p>9.- Yellow Temperance
												(黄の節制 Ierō Tenparansu) </p>
												<p>10.-Emperor and Hanged Man, Part 1
												(皇帝と吊られた男 その1 Enperā to Hangudoman Sono 1)  </p>
												<p>11.-Emperor and Hanged Man, Part 2
												(皇帝と吊られた男 その2 Enperā to Hangudoman Sono 2)</p>
												<p>12.-Empress
												(女帝 Enpuresu)</p>
												<p>13.-Wheel of Fortune
												(運命の車輪 Howīru Obu Fōchun) </p>
												<p>14.-Justice, Part 1
												(正義 その1 Jasutisu Sono 1) </p>
												<p>15.-Justice, Part 2
												(正義 その2 Jasutisu Sono 2) </p>
												<p>16.-Lovers, Part 1
												(恋人 その1 Rabāzu Sono 1)  </p>
												<p>17.-Lovers, Part 2
												(恋人 その2 Rabāzu Sono 2)  </p>
												<p>18.-Sun
												(太陽 San) </p>
												<p>19.-Death Thirteen, Part 1
												(死神13 その1 Desu Sātīn Sono 1) </p>
												<p>20.-Death Thirteen, Part 2
												(死神13 その2 Desu Sātīn Sono 2)</p>
												<p>21.-Judgement, Part 1
												(審判 その1 Jajjimento Sono 1)  </p>
												<p>22.-Judgement, Part 2
												(審判 その2 Jajjimento Sono 2) </p>
												<p>23.-High Priestess, Part 1
												(女教皇 その1 Hai Puriesutesu Sono 1)  </p>
												<p>24.-High Priestess, Part 2
												(女教皇 その2 Hai Puriesutesu Sono 2) </p>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</li>
					<li>
						<div class="collapsible-header ">
							<h6>Galería</h6>
						</div>
						<div class="collapsible-body white" id="mararriba">
							<div class="container">
								<div class="row">
									<div class="col l12 m6 s12 white" id="">
										<div class="col l12 m6 s12 white" id="textocaja">
											<table class="white">
													<tr>
													<td><img id="myImg" src="59.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="60.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="61.jpg" alt="" height="200" width="200"></td>
												</tr>
													<tr>
														<td><img id="myImg" src="62.jpg" alt="" height="200" width="200"></td>
														<td><img id="myImg" src="63.jpg" alt="" height="200" width="200"></td>
														<td><img id="myImg" src="64.jpg" alt="" height="200" width="200"></td>
													</tr>
												</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header ">
							<h6>Media</h6>
						</div>
						<div class="collapsible-body white" id="mararriba">
							<div class="container white">
								<div class="row">
									<div class="col l12 m6 s12 " id="">
										<div class="col l12 m6 s12" id="textocaja">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/WB9c5avV8uU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
			
		</main>
	</div>