<div>
      <img src="mainbanner.jpg" class="center-block" alt="">
<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 350px; border-radius: 10px">
        <li class="waves-effect"><a> <i class="material-icons white-text">chevron_left</i></a></li>
        <li class="waves-effect"><a ui-sref="manga1" class="white-text">1</a></li>
        <li class="waves-effect"><a ui-sref="manga2" class="white-text">2</a></li>
        <li class="waves-effect"><a ui-sref="manga3" class="white-text">3</a></li>
        <li class="waves-effect"><a ui-sref="manga4" class="white-text">4</a></li>
        <li class="waves-effect"><a ui-sref="manga5" class="white-text">5</a></li>
        <li class="waves-effect"><a ui-sref="manga6" class="white-text">6</a></li>
        <li class="waves-effect"><a ><i class="material-icons white-text">chevron_right</i></a></li>
    </ul>


    <main>
        <div class="row">
            <div class="container">
                <div id="site-right" class="col s12 m12 l12 white z-depth-2">
                    <!-- Note that "m8 l9" was added -->
                    <div>
                        <div><img src="banner5.png" height="150px" width="auto" class="center-block" alt=""></div>
                    </div>
                    <div class="divider"></div>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">
                                <h6>Resumen</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    El manga comienza en 2001, cuando el personaje de Diamond Is Unbreakable, Koichi Hirose va a Nápoles a petición de Jotaro Kujo para encontrar a alguien conocido como Haruno Shiobana y obtener una muestra de piel de él. Shiobana resulta ser un estudiante
                                                    de secundaria llamado Giorno Giovanna, que suena similar a "Haruno Shiobana", que es el hijo de Dio Brando. Giorno intenta robar el equipaje de Koichi, pero es detenido por su Stand, Echoes Act 3. Giorno
                                                    reconoció su poder como un poder de Stand similar a su Gold Experience, un Stand que puede dar vida a objetos inanimados.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Prologo</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    La historia sigue a Giorno mientras trata de convertirse en el jefe de la mafia para hacer de Nápoles un lugar mejor y ayudar a su gente, específicamente en lo que respecta a la disponibilidad de drogas para los jóvenes. Después de un altercado con el
                                                    miembro de la pandilla Ojo chorreante Luka, intenta unirse a Passione, un grupo de crimen organizado que emplea a muchos usuarios de Stand (esencialmente, su visión para Passione es similar a la banda
                                                    de Robin Hood, en contraste con la pura pasión de su actual líder) . Se le acerca un miembro de Passione, Bruno Bucciarati, quien sospecha que mató a Luka. Durante la pelea, los lectores son presentados
                                                    en el Stand de Buciarati, Sticky Fingers, que puede colocar y abrir una cremallera en cualquier superficie. Bucciarati desafía a Giorno a completar el rito para unirse a Passione, y por lo tanto visita
                                                    el Capo, Polpo, en prisión.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </li>
                        <li>
                            <div class="collapsible-header ">
                                <h6>Tiempos violentos</h6>
                            </div>
                            <div class="collapsible-body" id="mararriba">
                                <div class="container">
                                    <div class="row">
                                        <div class="col l12 m6 s12 " id="">
                                            <div class="col l12 m6 s12" id="textocaja">
                                                <p>
                                                    Después de encontrar la fortuna acumulada de Polpo después de su muerte en la isla de Capri, Bucciarati es promovido y el jefe le asigna una misión secreta a su grupo: escolta a su hija adolescente, Trish Una, de manera segura hacia él. Con la ayuda de
                                                    una tortuga que usa el soporte, se defienden de varios ataques de traidores que usan el soporte dentro de la mafia, decididos a derrocar al jefe; solo secuestrando a Trish pueden esperar aprender su
                                                    identidad. Después de viajar a Pompeya y Florencia, llegan a Venecia para encontrarse con el jefe en la iglesia de San Giorgio Maggiore en la isla de San Giorgio Maggiore. Sin embargo, al hacerlo, Bucciarati
                                                    descubre que el jefe solo quería que Trish lo trajera para que él mismo pudiera matarla. Su intención no era más que ocultar permanentemente su identidad. Solo él trata de matar al Jefe, para que él
                                                    y Giorno logren su objetivo, pero se da cuenta de que su Stand puede borrar el tiempo y luego predecir eventos es demasiado poderoso y decide retirarse. El grupo de Bucciarati, menos Fugo, se une a él
                                                    para traicionar al Jefe y proteger a Trish para que puedan conocer su identidad. Incluso después de que Trish descubre su propia habilidad de Stand, se encuentran en la posición poco envidiable de oponerse
                                                    a toda la pandilla de Passione para protegerla.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li>
                        <div class="collapsible-header ">
                            <h6>Galería</h6>
                        </div>
                        <div class="collapsible-body white" id="mararriba">
                            <div class="container white">
                                <div class="row">
                                    <div class="col l12 m6 s12 " id="">
                                        <div class="col l12 m6 s12" id="textocaja">
                                            <table class="white">
                                                    <tr>
                                                    <td><img id="myImg" src="m25.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m26.jpg" alt="" height="200" width="200"></td>
                                                    <td><img id="myImg" src="m27.jpg" alt="" height="200" width="200"></td>
                                                </tr>
                                                    <tr>
                                                        <td><img id="myImg" src="m28.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m29.jpg" alt="" height="200" width="200"></td>
                                                        <td><img id="myImg" src="m30.jpg" alt="" height="200" width="200"></td>
                                                    </tr>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>

    </main>
    </div>