<div>
	<img src="mainbanner.jpg" class="center-block" alt="">
	<ul class="pagination center purple darken-3 container" style="padding-left: 0; padding-right: 0; width: 250px; border-radius: 10px">
		<li class="disabled"><a href="#!"><i class="material-icons white-text">chevron_left</i></a></li>
		<li class="waves-effect"><a ui-sref="parti" class="white-text">1 y 2</a></li>
		<li class="waves-effect"><a ui-sref="partii" class="white-text">3</a></li>
		<li class="waves-effect"><a ui-sref="partiii"  class="white-text">4</a></li>
		<li class="waves-effect"><a  ><i class="material-icons white-text">chevron_right</i></a></li>
	</ul>
	<main >
		<div class="row">
			<div class="container ">
				<div id="site-right" class="col s12 m12 l12 z-depth-2 white">
					<!-- Note that "m8 l9" was added -->
					<div><img src="banner4.png" height="200px" width="auto" class="center-block" alt=""></div>
					
					<div class="divider"></div>
					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header active">
								<h6>Resumen</h6>
							</div>
							<div class="collapsible-body white" id="mararriba">
								<div class="container white">
									<div class="row">
										<div class="col l12 m6 s12 white" id="">
											<div class="col l12 m6 s12 white" id="textocaja">
												<p>
													JoJo's Bizarre Adventure: Diamond Is Unbreakable (JoJo no Kimyō na Bōken Daiyamondo wa Kudakenai) es la tercera temporada del Jojo's Bizarre Adventure TV Anime, producido por David Production.
												</p>
												<p>
													La Temporada 3 adapta el 4º arco de Jojo's Bizarre Adventure, Diamond Is Unbreakable. Se confirmó al final del evento "The Last Crusaders" para Jojo's Bizarre Adventure: Stardust Crusaders anime en Tokio el 24 de octubre de 2015. El primer episodio se emitió el 1 de abril de 2016. Una animación de video original titulada Thus Spoke Rohan Kishibe será estar disponible para aquellos que compren todos los lanzamientos de discos Blu-Ray de la serie.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header white">
								<h6>Listado de capitulos</h6>
							</div>
							<div class="collapsible-body white" id="mararriba">
								<div class="container white">
									<div class="row">
										<div class="col l12 m6 s12 white" id="">
											<div class="col l12 m6 s12" id="textocaja">
												<p><h6>Phantom Blood</h6></p>
												<div class="divider"></div>
												<p>1.-Jotaro Kujo! Meets Josuke Higashikata
												(空条承太郎！東方仗助に会う Kūjō Jōtarō! Higashikata Jōsuke ni Au)</p>
												<p>2.-Josuke Higashikata! Meets Angelo
												(東方仗助！アンジェロに会う Higashikata Jōsuke! Anjero ni Au)</p>
												<p>3.-The Nijimura Brothers, Part 1
												(虹村兄弟 その1 Nijimura Kyōdai Sono 1)  </p>
												<p>4.-The Nijimura Brothers, Part 2
												(虹村兄弟 その2 Nijimura Kyōdai Sono 2) </p>
												<p>5.-The Nijimura Brothers, Part 3
												(虹村兄弟 その3 Nijimura Kyōdai Sono 3) </p>
												<p>6.- Koichi Hirose (Echoes)
												(広瀬康一（エコーズ） Hirose Kōichi (Ekōzu))  </p>
												<p>7.-Toshikazu Hazamada (Surface)
												(間田敏和（サーフィス） Hazamada Toshikazu (Sāfisu))  </p>
												<p>8.- Yukako Yamagishi Falls in Love, Part 1
												(山岸由花子は恋をする その1 Yamagishi Yukako wa Koi o Suru Sono 1) </p>
												<p>9.- Yukako Yamagishi Falls in Love, Part 2
												(山岸由花子は恋をする その2 Yamagishi Yukako wa Koi o Suru Sono 2)  </p>
												<p>10.-Let's Go Eat Some Italian Food
												(イタリア料理を食べに行こう Itaria Ryōri o Tabe ni Ikō)  </p>
												<p>11.-Red Hot Chili Pepper, Part 1
												(レッド・ホット・チリ・ペッパー その1 Reddo Hotto Chiri Peppā Sono 1) </p>
												<p>12.-Red Hot Chili Pepper, Part 2
												(レッド・ホット・チリ・ペッパー その2 Reddo Hotto Chiri Peppā Sono 2)</p>
												<p>13.-Picked Up Something Bad!
												(やばいものを拾ったっス！ Yabaimono o Hirottassu!)  </p>
												<p>14.-Let's Go Play at the Mangaka's House, Part 1
												(漫画家のうちへ遊びに行こう その1 Mangaka no Uchi e Asobi ni Ikō Sono 1)</p>
												<p>15.-Let's Go Play at the Mangaka's House, Part 2
												(漫画家のうちへ遊びに行こう その2 Mangaka no Uchi e Asobi ni Ikō Sono 2)</p>
												<p>16.-Let's Go Hunting!
												(｢狩り｣に行こう！ "Hantingu" ni Ikō!) </p>
												<p>17.-Rohan Kishibe's Adventure
												(岸辺露伴の冒険 Kishibe Rohan no Bōken) </p>
												<p>18.-Shigechi's Harvest, Part 1
												(｢重ちー｣の収穫 その1 "Shigechī" no Hāvesuto Sono 1) </p>
												<p>19.-Shigechi's Harvest, Part 2
												(｢重ちー｣の収穫 その2 "Shigechī" no Hāvesuto Sono 2) </p>
												<p>20.- 	[show]Yukako Yamagishi Dreams of Cinderella
												(山岸由花子はシンデレラに憧れる Yamagishi Yukako wa Shinderera ni Akogareru)</p>
												<p>21.-Yoshikage Kira Just Wants to Live Quietly, Part 1
												(吉良吉影は静かに暮らしたい その1 Kira Yoshikage wa Shizuka ni Kurashitai Sono 1)</p>
												<p>22.-Yoshikage Kira Just Wants to Live Quietly, Part 2
												(吉良吉影は静かに暮らしたい その2 Kira Yoshikage wa Shizuka ni Kurashitai Sono 2)</p>
												<p>23.-Sheer Heart Attack, Part 1
												(シアーハートアタック その1 Shiā Hāto Atakku Sono 1) </p>
												<p>24.-Sheer Heart Attack, Part 2
												(シアーハートアタック その2 Shiā Hāto Atakku Sono 2) </p>
												<p>25.- Atom Heart Father
												(アトム・ハート・ファーザー Atomu Hāto Fāzā)</p>
												<p>26.-Janken Boy Is Coming!
												(ジャンケン小僧がやって来る！ Janken Kozō ga Yatte Kuru!) </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</li>
					<li>
						<div class="collapsible-header ">
							<h6>Galería</h6>
						</div>
						<div class="collapsible-body white" id="mararriba">
							<div class="container white">
								<div class="row">
									<div class="col l12 m6 s12 " id="">
										<div class="col l12 m6 s12" id="textocaja">
											<table class="white">
												<tr>
													<td><img id="myImg" src="65.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="66.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="67.jpg" alt="" height="200" width="200"></td>
												</tr>
												<tr>
													<td><img id="myImg" src="68.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="69.jpg" alt="" height="200" width="200"></td>
													<td><img id="myImg" src="70.png" alt="" height="200" width="200"></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header ">
							<h6>Media</h6>
						</div>
						<div class="collapsible-body white" id="mararriba">
							<div class="container white">
								<div class="row">
									<div class="col l12 m6 s12 " id="">
										<div class="col l12 m6 s12" id="textocaja">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/iqYEFeXXyWU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
			
		</main>
	</div>
	<!--
	
	
	-->